<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎使用本系统</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>

<div id="app" style="text-align:center;margin-top:50px;">
    <el-card class="box-card" style="max-width:600px;margin:0 auto;">
        <div slot="header" class="clearfix">
            <span>欢迎使用本系统</span>
        </div>
        <div>
            <p>欢迎使用本系统！本系统是一款用于管理和监控的高效工具，旨在提升您的工作效率和管理能力。</p>
            <p>如果您想访问主界面，请点击下面的链接：</p>
            <el-button type="primary" @click="goToMain">访问主界面</el-button>
        </div>
    </el-card>
</div>

<div style="position:fixed;text-align:center;bottom:0;margin:0 auto;width:100%;color: #ffff">
    <a target="_blank" style="color: #ffff" href="https://beian.miit.gov.cn/">湘ICP备2024065718号-1</a>
    &nbsp; @2024-2025 Tonylin
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/qs/dist/qs.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<script>
    new Vue({
        el: '#app',
        methods: {
            goToMain() {
                window.location.href = 'https://goto-moon.cn';
            }
        }
    });
</script>

</body>
</html>
